{% include "header.html" %}

<div class="d-flex flex-row mx-auto my-auto column-gap-5">
    {% for character in characters %}
        <div>
            <a href="{{ url_for('get_quote', character=character) }}">
                <img class="mb-4"
                     src="{{ url_for('static', filename='img/' + character + '-headshot.png') }}"
                     width="200">
                <h3>{{ character | title }}</h3>
            </a>
        </div>
    {% endfor %}
</div>

{% include "footer.html" %}
